* {
  margin: 0px;
  padding: 0px;
  backgroundbox-sizing: borderbox;
}

body {
  background-color: black;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtftKVfJAAAAAElFTkSuQmCC");
}

nav {
  margin: 0 auto;
  text-align: left;
  border-radius: 12px;

  width: 960px;
  background-image: url(../images/Background1.png);
  height: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(47, 33, 139);
  font-family: "Inconsolata", sans-serif;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
}

.nav-links {
  display: flex;

  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2.5px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    background-color: rgb(20, 20, 18);
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;

    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

/*Building the menu animations*/

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#vid {
  max-width: 75%;
  border-radius: 12px;
  margin: 0 auto;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  background-color: rgb(22, 20, 20);

  border-radius: 50%;
  margin: 0 auto;
  text-align: left;
  width: 960px;
  display: flex;
  align-items: initial;
  opacity: 100%;
}

.flex-container > div {
  background-position: center;

  border-radius: 115px;

  padding: 1%;
  width: 75 px;
  margin: 5px;
  text-align: justify;
  line-height: 18px;
  font-size: 12px;
  font-family: "Inconsolata", sans-serif;
}

.tablink {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);

  color: rgb(247, 242, 242);
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15.5%;
}

.tablink:hover {
  border-radius: 12px;
  border: medium;
  background-color: rgb(36, 37, 35);
}

/* Style the tab content */
.tabcontent {
  border-radius: 12px;
  color: white;
  display: flex;
  margin-top: 1px;
  padding: 150px;
  width: 650px;
  text-align: center;
}

#London {
  background-image: url(https://d2jv9003bew7ag.cloudfront.net/uploads/Op-Art.jpg);

  border-radius: 12px;
  border: thin royalblue;

  border-radius: 15px;
}
#Paris {
  border: thin royalblue;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/1/1b/Riley%2C_Movement_in_Squares.jpg);

  border-radius: 15px;
}

#Tokyo {
  border: thin royalblue;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/db/2b/eb/db2beb3d5d4ea64fed3fb61ec1d51729.jpg);
  background-size: 960px;
  border-radius: 15px;
}

#Oslo {
  border: thin royalblue;
  background-image: url(https://i.gifer.com/GCba.gif);

  border-radius: 15px;
}

#center {
  margin: 0 auto;
  align-self: center;
}

#original {
  color: aliceblue;
  text-align: end;
  border-radius: 12px;
  width: 960px;
  height: 500px;
  margin: 0% auto;
}

#first {
  border-radius: 12px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1%;
  float: left;
  width: 28%;
  height: 50%;
  margin-bottom: 2%;
  marginmargin-top: 1%;
}
#second {
  border-radius: 12px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  float: left;
  padding: 1%;
  width: 28%;
  height: %;
  margin-left: 5%;
}
#third {
  border-radius: 12px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: 1.2%;
  padding: 1%;
  float: right;
  width: 28%;
  height: 50%;
}

h4 {
  border: groove white;
  border-width: 0.69px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  float: left;
  background-color: rgb(20, 19, 17);
  border-radius: 45px;
  padding: 13px;
}

/* Dropdown Button */
.dropbtn {
  padding: 4px;
  font-size: 15px;
  border: none;
  margin-top: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: left;

  min-width: 275px;
  box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: left;
  color: rgb(252, 246, 246);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(17, 15, 15);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #000000;
}

#link_bar {
  border-color: white;

  text-emphasis: bold;
  text-align: center;
  width: 15%;
  border-radius: 12%;
  margin-left: 10%;
}

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #282a28;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-image: url(/assets/images/Background1.png);
  background-color: #141313;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

#footer {
  margin-top: 35%;
  color: white;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
